<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}MovieWeb App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('list_users') }}">👤 Users</a>
        <a href="{{ url_for('add_user') }}"> 👻 Add User</a>
        <a href="{{ url_for('all_movies') }}">🎬 All Movies</a>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash-messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>