<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Update Movie</title>
</head>
<body>
    <h1>Update Movie {{ movie.movie_name }}</h1>
    <form method="POST">
        <label>Title:</label>
        <input type="text" name="name" value="{{ movie.movie_name }}"><br>

        <label>Director:</label>
        <input type="text" name="director" value="{{ movie.movie_director }}"><br>

        <label>Year:</label>
        <input type="number" name="year" value="{{ movie.movie_year }}"><br>

        <label>Rating:</label>
        <input type="number" name="rating" step="0.1" value="{{ movie.movie_rating }}"><br>

        <button type="submit">Update Movie</button>
    </form>
</body>
</html>