<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    <title>Users</title>
</head>
<body>
{% extends "base.html" %}
{% block title %}All Users{% endblock %}

{% block content %}
<div class="intro">
    <h1>🎥 The best Moviedatabase ever</h1>
    <p>
        In this menu, you choose your name and add movies. It happens to be connected to IMDb.
        So just enter a title and the page will do its magic. <br><br>
        Typed in a wrong name? No worries. I got you covered. Just click on your name and you’ll find options to change it.
    </p>
</div>
<div class="user-list">
    {% for user in users %}
        <div class="user-card">
            <a href="{{ url_for('list_user_movies', user_id=user.user_id) }}">{{ user.user_name }}</a>
        </div>
    {% else %}
        <p>No users found.</p>
    {% endfor %}
</div>
{% endblock %}

</body>
</html>